body {
  font-family: "Poppins", sans-serif;
}

.feature,
.content .row,
.contact,
.article,
footer {
  margin-top: 130px;
}

.btn-primary {
  background: #ff9900;
  border: 1px solid #ff9900;
  padding: 13px 38px 13px 38px;
  font-size: 16px;
  font-weight: 600;
}

.btn-primary:hover {
  background: #cc7a00;
  border: 1px solid #cc7a00;
}

.btn-secondary {
  background: none;
  border: 1;
  padding: 13px 40px 13px 40px;
  font-size: 16px;
  font-weight: 600;
  color: #173a56;
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: bold;
}

p {
  font-weight: 400;
}

.icon-box-first {
  width: 25px;
  background-color: #7752be;
  padding: 25px;
  border-radius: 40%;
}

.icon-box-second {
  width: 25px;
  background-color: #fab005;
  padding: 25px;
  border-radius: 40%;
}

.icon-box-third {
  width: 25px;
  background-color: #f03e3d;
  padding: 25px;
  border-radius: 40%;
}

.icon-box-fourth {
  width: 25px;
  background-color: #4dadf7;
  padding: 25px;
  border-radius: 40%;
}

.content p {
  margin: 0px;
}

@media (max-width: 1000px) {
  .btn-secondary {
    margin-left: 0 !important;
  }
}
